In [ ]:
Print ('Hello World') # What happens when you run print("Hello World"):
# Python parses your code and compiles it to bytecode.It looks up 'print' in the built-in namespace (case-sensitive).
# "Hello World" is stored as a string object in memory. print() calls str() on the object and sends text to stdout.
# In Jupyter, stdout is captured and shown in the output cell. and python does not accept C or Java type commenting (/*...*/)

VARIABLES IN PYTHON

In [20]:
x = 29 #You do not have to define data type like other languages
print(x)

29

In [8]:
y='Rohith Reddy Shyamakuri'
print(y)

Rohith Reddy Shyamakuri

In [10]:
type(x)

str

In [11]:
type(y)

str

In [21]:
y= '03' #latest stored  data will be given as outputPython 3 doesnâ€™t allow numbers like 03 because in older versions it meant octal.
#Now you must either use 3 (integer), "03" (string), or 0o3 (octal).
print(y)

03

In [14]:
type(y)

str

In [18]:
y='Rohith Reddy' # variables are case sensitive
Y='Shyamakuri'
print(y)

Rohith Reddy

In [24]:
x,y,z= 'Rohith','Reddy','Shyamakuri'
print(x,y,z)

Rohith Reddy Shyamakuri

In [25]:
x,y,z= 'Rohith','Reddy','Shyamakuri' #We can assign multiple values to multiple variablesz
print(x)
print(y)
print(z)

Rohith
Reddy
Shyamakuri

In [27]:
x=y=z='Rohith Reddy Shyamakuri' #we can assign one value to multiple variables
print(x)
print(y)
print(z)

Rohith Reddy Shyamakuri
Rohith Reddy Shyamakuri
Rohith Reddy Shyamakuri

In [28]:
#  List / Sequence Unpacking in Python

ice_cream = ['Chocolate', 'Vanilla', 'Rocky Road'] #Unpacking: each element is assigned to a variable
x, y, z = ice_cream
print(x)#The number of variables must match the number of items.
print(y)
print(z)

Chocolate
Vanilla
Rocky Road

In [29]:
#You can use * to collect extra values.
#Example with * (star operator)
a, *b = [1, 2, 3, 4]
print(a)   # 1
print(b)   # [2, 3, 4]

1
[2, 3, 4]

In [30]:
# Example ignoring values with _
first, _, third = [10, 20, 30]
print(first, third)   # 10 30

10 30

In [ ]:
#Naming convetions for easily readable code
#camelCase-first word lowercase, next words capitalized
userName='Rohith Reddy Shyamakuri'

In [ ]:
#PascalCase-each word capitalized, no underscores
UserName='Rohith Reddy Shyamakuri'

In [ ]:
#snake_case-all lowercase with underscores
userName='Rohith Reddy Shyamakuri'

In [ ]:
#UPPER_CASE-all caps, underscores if needed
USER_NAME= 'Rohith Reddy Shyamakuri'

In [ ]:
#Good ways to write variables

testvar = 'Vanilla Swirl'
test_var = 'Vanilla Swirl'
_test_var = 'Vanilla Swirl'
testVar = 'Vanilla Swirl'
TestVar = 'Vanilla Swirl'
testVar2 = 'Vanilla Swirl'

In [ ]:
#Bad ways to write variables

2testVar = 'Vanilla Swirl'
test-Var2 = 'Vanilla Swirl'
test Var2 = 'Vanilla Swirl'
test,Var2 = 'Vanilla Swirl'

In [31]:
x = 'Ice Cream is my favorite' + 2 #Python does not allow concatenation of str and int data type

print(x)

TypeError: can only concatenate str (not "int") to str

In [32]:
y = 3 + 2

print(y)

5

In [35]:
x = 'Rohith'
y = ' Reddy'
z = ' Shyamakuri.'

print(x+y+z)

Rohith Reddy Shyamakuri.

In [34]:
x = 1
y = 2
z = 3

print(x+y+z)

6

In [36]:
x = 'Rohith Reddy'
y = 2


print(x,y)

Rohith Reddy 2